.DS_Store
.env
.env*
.parcel-cache
.swc
**/*/.env
**/*/*/merge/results
**/*/config.validator.ts
**/*/coverage
**/*/dist
**/*/merges
**/*/node_modules
node_modules
coverage
data
dist/
jwt
jwt.txt
merges
node_modulesa
out
package-lock.json
scratch
*.log